@{
    ViewData["Title"] = "Home Page";
}

<div class="text-primary">
    <h1 class="display-4">Welcome</h1>
    <p>
        Do you dream of trying a clear cola or liquid marshmallow from video reviews or foreign films? Candy-Mania makes your sweetest dreams come true!

        Candy-Mania is an online store for sweets from all over the world: America, Europe, Asia, etc. We do not sell the cookies or cereals you see on the shelves of your nearest supermarket every day.
    </p>
    <p>
        Sweets from the best and most popular brands in the world
        Candy-Mania “shelves” are occupied by sweets of world famous brands, unusual for the Ukrainian market:
    </p>
    <ul style="list-style: square outside">
        <li>
            famous jelly candies Jelly Belly (America);
        </li>
        <li>
            Oreo cookies like you've never seen them before (even in cereal form)
            sweets of the German brand Haribo, who invented the heroes of “gummy bears”;
        </li>
        <li>
            legendary Fruittella gummies;
        </li>
        <li>
            Chupa Chups sweets (and these are NOT lollipops);
        </li>
        <li>
            the most exquisite Ferrero Rocher sweets;
        </li>
        <li>
            popular, but hard-to-find in Ukraine, Dr Pepper lemonade;
        </li>
        <li>
            legendary 90s chewing gums and more.
        </li>
    </ul>
    <p>
        We have a lot to choose from: more than a thousand sweets flaunt on the showcase for every taste!
    </p>
</div>
