@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h4>Add delivery method</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <form asp-action="AddDeliveryMethod">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" name="deliveryMethodName" class="form-control" />
                <br />
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>