@model TestApp.Site.Models.Admin.ItemModel
@{
    Layout = null;

}
<div class="modal-content">
    <div class="modal-header">
        <h4>New item</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <form asp-action="AddItem" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" required/>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" required />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" required />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                <select class="form-control" asp-for="categoryId">
                    @foreach(var cat in Model.categories)
                    {
                        <option value="@cat.Id">@cat.name</option>
                    }
                </select>
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" asp-for="image" name="image" required /><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
