

<div class="row">
    <div class="col-12">
        <a asp-controller="Admin" asp-action="GetOrdersPage" class="btn btn-outline-dark btn-block">Orders</a>
        <a asp-controller="Admin" asp-action="GetOrdersDeliveryMethodsPage" class="btn btn-outline-dark btn-block">Delivery methods</a>
        <a asp-controller="Admin" asp-action="GetOrdersPayMethodsPage" class="btn btn-outline-dark btn-block">Pay methods</a>
        <a asp-controller="Admin" asp-action="GetUsersPage" class="btn btn-outline-dark btn-block">Users</a>
        <a asp-controller="Admin" asp-action="GetItemsCategories" class="btn btn-outline-dark btn-block">Categories</a>
        <a asp-controller="Admin" asp-action="GetItemsPage" class="btn btn-outline-dark btn-block">Items</a>
    </div>
</div>